body{
	margin: 0px;
	padding: 0px;
	
	margin: 0 160px;
}
.header{
	
}
.header .sologan{
	float: left;
	margin-left: 8px;
	margin-top: 40px;
	}
.sologan1{
	font-family: Georgia;
	font-size: 26px;
}
.sologan2{
	font-family: Georgia;
	font-size: 12px;
}
.header .menu-header{
	float: left;
	margin-left: 140px;
	margin-top: 20px;
	margin-bottom: 28px;
}

.header .menu-header ul{
	list-style: none;
}
.header .menu-header ul li{
		text-transform: uppercase;
		display: inline-block;
		text-decoration: none;
		width: 100px;
		height: 50px;
		font-size: 12px;
		line-height: 50px;
		background: #e2494b;
		margin-left: -5px;
		padding-left: 20px;
}
.header .menu-header ul li:hover {
	cursor: pointer;
	background: #e76a6c;
	
}
.header .menu-header ul li:hover a{
	color: #ee9395; 
}
.header .menu-header ul li:first-child {
	border-radius: 10px 0px 0 10px;
}
.header .menu-header ul li:last-child {
	border-radius: 0px 10px 10px 0px;
}
.header .menu-header ul li a{
	text-decoration: none;
	color: white; 
	font-weight: bold;
	font-size: 12px;
}
.header .menu-header ul li a:hover{
	
	
	
}
.content-sologan{
	margin-top: 30px;
	margin-left: 140px;
	margin-right: 140px;
	text-align: center;
	font-style: italic;
	font-size: 19px;
	padding-bottom: 17px;
}
.header .slider{
	margin: 20px;
	width: 960px;
	height: 350px;
	background-color: #353535;
}
.header .slider-next{
	margin-left:400px;
}
.header .slider-next ul li{
	display: inline-block;
	width: 10px;
	height: 10px;
	list-style: none;
	background: #cecece;
	border-radius: 100%;
}
.header .slider-next ul li:hover{
	cursor: pointer;
	border: 2px solid black;
	background: white;
	width: 6px;
	height: 6px;
}
.border-bottom{
	
    width: 1300px;
    margin-left: -153px;
	clear:both;border-bottom: 2px solid #f1f1f1;
}
.our-service{
	margin-top: 50px;
	position: relative;
	border-top: 1px solid #e2e2e2;
}
.our-service-title{
	width: 140px;
	height: 40px;
	line-height: 40px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	background: #e2494b;
	border-radius: 15px;
	position: absolute;
	top: -20px;
	left: 380px;
	padding-left: 20px;
}
.our-service-content ul li{
	width: 327px;
	list-style: none;
	display: inline-block;
	margin-top: 40px;
}
.our-service-content .title{
	font-family: tahoma;
	float: left;
	margin-top: 11px;
	margin-left: 11px;
	font-size: 15px;
	font-weight: bold;
}
.our-service-content .box{
	width: 30px;
	height:30px;
	float: left;
	background: #333333;
}
.content{
	margin-top: 10px;
	font-size: 13px;

	color: #999999;
}
.news .content_news p{
margin-left: 15px;
	font-size: 13px;

	color: #999999;
}
.read-more a{
	text-decoration: none;
	color: red;
	font-size: 13px;
}
.our-play-content{
	margin-top: 50px;
}
.our-play-content ul{
	margin-left:-30px !important;
}
.our-play-content ul li{
	width: 187px;
margin: 0px;
margin-left: 5px;
}
.our-play-content ul li img{
	max-width: 180px;
}
.our-play-content .name{
	color: #979797;
}
.latest-work-title{
	padding-left: 16px;
	margin-left: 10px;
}
.latest-work-content ul li:first-child {
	margin-left: 3px;
}
.latest-work-content ul li{
	width: 313px;
	height: 160px;
	background: #353535;
	margin-left: 20px;
}
.footer{
	background: #e2e2e2;
	width: 1307px;
	height: 367px;
	margin-left: -157px !important;
}
.news{
	float: left;
}
.news ul li{
	list-style: none;
	height: 100px;
	width: 666px;
	margin-bottom: 30px;
}
.border-news{
	border: 1px solid #cccccc;
	width: 95px;
	height: 95px;
	float:left;
	margin-left: 121px;
	padding: 5px;
	margin-right: 15px;
}
.news .news-img{
	width: 95px;
	height: 95px;
	background: #353535;
	/*float: left;*/
	margin-right: 25px;
	/*margin-left: 100px;*/
	
}
.blog{
	margin-left: 160px;
	padding-top: 25px;
	font-size: 15px;
	color: black;
}
.news-content{
	
}
.news-content .news-title{
	color: red;
}
.detail{
	margin-left: 0px;
}
.infor{
	color: #999999;
	width: 200px;
	float: left;
	font-size: 14px;
}
.infor-content{
	margin-top: 10px;
}
.contact{
	float: left;
	width: 230px;
	margin-top: 22px;
}
.form input, textarea{
	width: 225px;
	border-radius: 10px;
	margin-bottom: 20px;
	height: 25px;
	padding-left: 15px;outline: none;
}
textarea{
	height: 100px;outline: none;
}
.submit{
	background: #e73a3a;
	width: 100px !important;
	height: 70px;
	padding-left: -30px;
	color: white;
}
.our-service-content ul{
	margin-left:-40px;
}
.end .end-left{
	float: left;
	color:#999999;
	font-size: 10px;
	/*margin-left: 161px;*/
}
.end{
	border-top:1px solid #cccccc;
	width: 1000px;
	margin-left: 161px;
	height: 50px;
	line-height: 50px;
}
.end .end-right{
	float: right;
	font-size: 10px;
	/*margin-right: 161px;*/
	color:#999999;
}
.gt{
	color:red;
	font-size: 10px;
}